/* 전체 화면 크기 고정 */
body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

}

/* 메인 컨테이너 고정 크기 설정 */
.container {
    width: 300px; /* 고정된 너비 */
    height: 700px; /* 고정된 높이 */
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden; /* 스크롤 방지 */
    position: relative;
}

.info_box {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.info_title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}


.address_box {
    background: #f8f9fa;
    border-radius: 8px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;

}

/* 버튼 스타일 */
.btn {
    padding: 7.5px 19px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}


.btn:hover {
    background-color: #0056b3;
}

/* 모달 오버레이 */
.modal_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s forwards;
}

/* 모달 내용 */
.modal_content {
    background: white;
    padding: 25px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: scale(0.8);
    animation: scaleUp 0.3s forwards;
}

/* 닫기 버튼 */
.modal_close_btn {
    background-color: #dc3545;
    color: white;
    font-size: 14px;
    padding: 4px 100px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s ease-in-out;
}

.modal_close_btn:hover {
    background-color: #b02a37;
}

/* 애니메이션 */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    to {
        transform: scale(1);
    }
}


.otpInput{
    width: 170px;
    height: 30px;
    font-size: 18px;
}

.otpButton {
    width: 150px;
    height: 40px;
    background-color: #f0f0f0; 
    border: 1px solid #d9d9d9;
    border-radius: 8px; 
    color: #555; 
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.otp_modal_container {
    background: white;
    padding: 25px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: scale(0.8);
    animation: scaleUp 0.3s forwards;
}
